.alerta--transition {
  transition: 0.3s ease; }

.form {
  display: flex;
  flex-direction: column; }
  .form .input {
    padding: 7px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none; }
  .form .error {
    border: 1.5px solid #dc3545; }
    .form .error:focus {
      box-shadow: 0 0 2px 2px #dab3b7; }
  .form .text-error {
    margin: 0 0 5px 0;
    color: #dc3545;
    font-size: 12px; }

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Nunito", sans-serif; }
  body .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: auto; }
    body .container .title {
      text-align: center;
      font-size: 20px;
      color: #000;
      border-bottom: 1px solid #eee;
      margin: 0 0 10px 0;
      padding: 0 0 10px 0; }
    body .container ul {
      padding: 0 10px; }
      body .container ul .turn {
        list-style-type: none;
        padding: 10px;
        width: 300px; }
        body .container ul .turn p {
          margin-left: 10px;
          display: inline; }
        body .container ul .turn input:hover {
          cursor: pointer; }
    body .container .btn {
      width: 100%; }
